<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
    <!-- GET request를 통해서 해당 static file이 위치한 곳에 직접 접근할 수 없다면, 이 link도 통하지 않는다. Express 서버는 기본적으로 접근할 수 없다. 그래서 어떤 파일에 접근할 수 있는지를 직접 지정해주어야 한다. -->
    <link rel="stylesheet" href="/styles.css">
</head>